USE [master]
GO
/****** Object:  Database [Tg_bot_company]    Script Date: 20.03.2023 23:44:54 ******/
CREATE DATABASE [Tg_bot_company]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tg_bot_company', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Tg_bot_company.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tg_bot_company_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Tg_bot_company_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tg_bot_company].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tg_bot_company]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 20.03.2023 23:44:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostHasSubdivision]    Script Date: 20.03.2023 23:44:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostHasSubdivision](
	[SubdivisionId] [int] NOT NULL,
	[PostId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subdivision]    Script Date: 20.03.2023 23:44:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subdivision](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Subdivision] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Worker]    Script Date: 20.03.2023 23:44:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Worker](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[Number] [bigint] NOT NULL,
	[Telegram] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Worker] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkerHasPost]    Script Date: 20.03.2023 23:44:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkerHasPost](
	[WorkerId] [int] NOT NULL,
	[PostId] [int] NOT NULL,
 CONSTRAINT [PK_WorkerHasPost] PRIMARY KEY CLUSTERED 
(
	[WorkerId] ASC,
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PostHasSubdivision]  WITH CHECK ADD  CONSTRAINT [FK_PostHasSubdivision_Post] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([Id])
GO
ALTER TABLE [dbo].[PostHasSubdivision] CHECK CONSTRAINT [FK_PostHasSubdivision_Post]
GO
ALTER TABLE [dbo].[PostHasSubdivision]  WITH CHECK ADD  CONSTRAINT [FK_PostHasSubdivision_Subdivision] FOREIGN KEY([SubdivisionId])
REFERENCES [dbo].[Subdivision] ([Id])
GO
ALTER TABLE [dbo].[PostHasSubdivision] CHECK CONSTRAINT [FK_PostHasSubdivision_Subdivision]
GO
ALTER TABLE [dbo].[WorkerHasPost]  WITH CHECK ADD  CONSTRAINT [FK_WorkerHasPost_Post] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([Id])
GO
ALTER TABLE [dbo].[WorkerHasPost] CHECK CONSTRAINT [FK_WorkerHasPost_Post]
GO
ALTER TABLE [dbo].[WorkerHasPost]  WITH CHECK ADD  CONSTRAINT [FK_WorkerHasPost_Worker] FOREIGN KEY([WorkerId])
REFERENCES [dbo].[Worker] ([Id])
GO
ALTER TABLE [dbo].[WorkerHasPost] CHECK CONSTRAINT [FK_WorkerHasPost_Worker]
GO
USE [master]
GO
